# REQUIRED CONFIG
BOT_TOKEN = "5562065100:AAFkG4DGHpI680JzD3XWKnTg8p6L_IbWyTk"
GDRIVE_FOLDER_ID = "1-zvk5ON58B7WcLaonoNr3sf2lBfmeggg"
OWNER_ID = 5295406681
DOWNLOAD_DIR = "/usr/src/app/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = -1
AUTO_DELETE_UPLOAD_MESSAGE_DURATION = -1  #minimum recommended 120
IS_TEAM_DRIVE = "True"
TELEGRAM_API = 1389783
TELEGRAM_HASH = "a2a1dcfa04bb729ec3ca5f3a3829ff96"

# OPTIONAL CONFIG
DATABASE_URL = "postgres://mkunpbhc:k8tpTlUlME4PvQaqVZDlDX1Opsy1fmqX@arjuna.db.elephantsql.com/mkunpbhc"
AUTHORIZED_CHATS = "-1001762861308 -1001679116138 -1001628210353"
SUDO_USERS = "5295406681"
IGNORE_PENDING_REQUESTS = "True"
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = "https://maindrive1.seriesflixx.workers.dev/0:/Maindrive1/"
STATUS_LIMIT = "3" #recommended value 3
STOP_DUPLICATE = "True"
CMD_INDEX = ""
UPTOBOX_TOKEN = "db4e67c7355b707bfde4065dc59cfa8c3p5ha"
TORRENT_TIMEOUT = "200"
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "True"

#TURN ON/OFF FUCTIONS
LEECH_ENABLED = "True"              #Default is False (only use by owner/sudo) Make it True (for authorized chats)
MIRROR_ENABLED = "True"             #Default is False (only use by owner/sudo) Make it True (for authorized chats)
WATCH_ENABLED = "True"              #Default is False (only use by owner/sudo) Make it True (for authorized chats)
CLONE_ENABLED = "True"              #Default is False (only use by owner/sudo) Make it True (for authorized chats)
ANILIST_ENABLED = ""            #Default is False (only use by owner/sudo) Make it True (for authorized chats)
WAYBACK_ENABLED = ""            #Default is False (only use by owner/sudo) Make it True (for authorized chats)
MEDIAINFO_ENABLED = "True"          #Default is False (only use by owner/sudo) Make it True (for authorized chats)
SET_BOT_COMMANDS = "" 

# Update
UPSTREAM_REPO = "https://github.com/Tonyfaredd/Reflection-Mirror"
UPSTREAM_BRANCH = "update"

# Leech Mirror
BOT_PM = "True"
LEECH_LOG = -1001628210353
LINK_LOGS =  
MIRROR_LOGS = -1001628210353
TG_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = "True"
CUSTOM_FILENAME = ""
TIMEZONE = "Asia/Kolkata"

#Telegraph UI
TITLE_NAME = "SeriesFlix Mirrors Search"
AUTHOR_NAME = "SeriesFlix Mirrors"
AUTHOR_URL = "https://t.me/Seriesflixchannel"
GD_INFO = "Uploaded by SeriesFlix Mirrors"

#Fsub
FSUB = "True"
CHANNEL_USERNAME = "Seriesflixchannel"
FSUB_CHANNEL_ID = "-1001750277139" # Don't leave this empty or Remove it from your configs if you dont wanna use FSUB
# qBittorrent
BASE_URL_OF_BOT = "https://grpser9.herokuapp.com/"
SERVER_PORT = ""
WEB_PINCODE = ""
QB_SEED = "True"

# RSS
RSS_DELAY = ""
RSS_COMMAND = ""
RSS_CHAT_ID = ""
USER_SESSION_STRING = "BQAPegBCUTvDBISGT-XmQqYcCweNBGXFXJF8Ry5Oa8zZkMDSVDPUpNLX-CIYxgs6jrRp4FK90VkP1C1YxJxscKSFQBEqIc7v0F04Z5s14rADEwJgSfd77ySFEXKPOhv0AzsFe4bGTVsGJBeORSEYGHWL0v82OmcIigofLRh_9h9BwhJm71HyiYqW-KGvpMkmEdWjW3lWovJqfdk12l3rv2kU-7VGW0uF74vpuqMWdPxMp35PGAkI9gcDjXEzu4k3wmPTxie24S1WzX0efWaWThWhfRlzyQwi1Du6-3n99amA9exnTgCFH5cObR5ShZUe53meueex31gsAZ_4Av1h0jRXAAAAATCD2n4A"     #Use it for 4GB leeching

# Private Files
ACCOUNTS_ZIP_URL = "https://maindrive1.seriesflixx.workers.dev/0:/accounts.zip"
TOKEN_PICKLE_URL = "https://maindrive1.seriesflixx.workers.dev/0:/token.pickle"
MULTI_SEARCH_URL = "https://gist.githubusercontent.com/Tonyfaredd/4e3b4aded1acc4c2310d4e0b1597f0bf/raw/drive_folder"
YT_COOKIES_URL = ""
NETRC_URL = ""

# Mega
MEGAREST = "True"
MEGA_API_KEY = "fwczBKQD"
MEGA_EMAIL_ID = "antongggg92@gmail.com"
MEGA_PASSWORD = "antonadel12345"

# Shortener
SHORTENER = ""
SHORTENER_API = ""

# GDTOT COOKIE
CRYPT = "QW1ReWpiUTFDdDh1M1c4K1VFckE0aTFVOTVJMkdLbm82MEtlcE9iTHVSWT0%3D"

#APPDRIVE
APPDRIVE_EMAIL = "ftv2898@gmail.com"
APPDRIVE_PASS = "antonadel12345"

# Size Limits
TORRENT_DIRECT_LIMIT = "90"
ZIP_UNZIP_LIMIT = "50"
CLONE_LIMIT = "100"
MEGA_LIMIT = "2"
STORAGE_THRESHOLD = "50"
LEECH_LIMIT = "30"

# Buttons
VIEW_LINK = "True"
BUTTON_FOUR_NAME = "🔐Gdrive Access🔐"
BUTTON_FOUR_URL = "https://groups.google.com/u/3/g/my-new-groupl"
BUTTON_FIVE_NAME = "SeriesFlix Mirrors"
BUTTON_FIVE_URL = "https://t.me/seriesflixxx"
BUTTON_SIX_NAME = "Leech Logs"
BUTTON_SIX_URL = "https://t.me/newlogsforme"

# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'


#Mirror Related Commands
START_COMMAND = ""      #Default is "start"
MIRROR_COMMAND = ""     #Default is "mirror"
ZIP_COMMAND = ""        #Default is "zipmirror"
UNZIP_COMMAND = ""      #Default is "unzipmirror"
CANCEL_COMMAND = ""     #Default is "cancel"
LIST_COMMAND = ""       #Default is "list"
SEARCH_COMMAND = ""     #Default is "search"
STATUS_COMMAND = ""     #Default is "status"
STATS_COMMAND = ""      #Default is "stats"
HELP_COMMAND = ""       #Default is "help"
CLONE_COMMAND = ""      #Default is "clone"
COUNT_COMMAND = ""      #Default is "count"
WATCH_COMMAND = ""      #Default is "watch"
ZIPWATCH_COMMAND = ""   #Default is "zipwatch"
QBMIRROR_COMMAND = ""   #Default is "qbmirror"
QBZIP_COMMAND = ""      #Default is "qbzipmirror"
QBUNZIP_COMMAND = ""    #Default is "qbunzipmirror"
BTSELECT_COMMAND = ""   #Deafault is "btsel"

#Leech Related Commands
LEECH_COMMAND = ""          #Default is "leech"
LEECHSET_COMMAND = ""       #Default is "leechset"
SETTHUMB_COMMAND = ""       #Default is "setthumb"
UNZIPLEECH_COMMAND = ""     #Default is "unzipleech"
ZIPLEECH_COMMAND = ""       #Default is "zipleech"
QBLEECH_COMMAND = ""        #Default is "qbleech"
QBUNZIPLEECH_COMMAND = ""   #Default is "qbunzipleech"
QBZIPLEECH_COMMAND = ""     #Default is "qbzipleech"
LEECHWATCH_COMMAND = ""     #Default is "leechwatch"
LEECHZIPWATCH_COMMAND = ""  #Default is "leechzipwatch"

#SUDO Commands
AUTH_COMMAND = ""           #Default is "authorize"
UNAUTH_COMMAND = ""         #Default is "unauthorize"
ADDSUDO_COMMAND = ""        #Default is "addsudo"
RMSUDO_COMMAND = ""         #Default is "rmsudo"
RESTART_COMMAND = ""        #Default is "restart"
SPEED_COMMAND = ""          #Default is "speedtest"
USERS_COMMAND = ""          #Default is "users"
CANCEL_ALL_COMMAND = ""     #Default is  "cancelall
LOG_COMMAND = ""            #Default is "log"
DELETE_COMMAND = ""         #Default is "del"
USAGE_COMMAND = ""          #Default is "usage"
RSSLIST_COMMAND = ""
RSSGET_COMMAND = ""
RSSSUB_COMMAND = ""
RSSUNSUB_COMMAND = ""
RSSSET_COMMAND = ""
SHELL_COMMAND = ""
EXEHELP_COMMAND = ""
SLEEP_COMMAND = ""          #Deafult is "sleep"

#EXTRA COMMANDS
PING_COMMAND = ""           #Default is "ping"
SPEEDTEST_COMMAND = ""      #Default is "speedtest"
MEDIAINFO_COMMAND = ""      #Default is "mediainfo"
HASH_COMMAND = ""           #Default is "hash"
WAYBACK_COMMAND = ""        #Default is "wayback"
